/* TODO: 
Here, we have a global configuration and css variables. Create a file called variables and another called reset to put all CSS config
 */
/* ========================== VARIABLES | TOKENS ... ========================== */

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  /* Colors
  * ------------------------- */
  --color-white: #FFFFFF;
  --color-gray-light: #F2F5F8;
  --color-gray: #CACFD8;
  --color-black: #0E121B;
  --color-blackier: #222530;
  --color-teal: #00A594;
  --color-teal-light: #E2FAF6;
  --color-purple: #8E57C2;
  --color-purple-light: #FAF1FE;
  --color-primary: #007BEF;
  --color-secondary: #FFAE0B;

  --f-weight-700: 700;
  --f-weight-600: 600;
  --f-weight-400: 400;


}

/* ========================== RESET ========================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, and, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea, select {
	border:0;
	font-size:100%;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
* {
  box-sizing: border-box;
}
body {
	line-height:1;
}
abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}
/*blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:none;
}*/
del {
	text-decoration:line-through;
}
hr {
	background:transparent;
	border:0;
	clear:both;
	color:transparent;
	height:1px;
	margin:0;
	padding:0;
}
mark {
	background-color:#ffffb3;
	font-style:italic
}
input, select {
	vertical-align:middle;
}
ins {
	background-color:red;
	color:white;
	text-decoration:none;
}
ol, ul {
	list-style:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}